<%# 戻るボタン %>
<%= link_to request.referrer || root_path,
  class: "inline-flex items-center justify-center w-10 h-10 rounded-full border border-gray-300 text-gray-700 hover:bg-gray-100 hover:border-gray-400 transition",
  aria: { label: "戻る" } do %>
  <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4A1 1 0 018.707 6.293L6.414 8.586H17a1 1 0 110 2H6.414l2.293 2.293a1 1 0 010 1.414z"/>
  </svg>
<% end %>

<div class="max-w-3xl mx-auto px-4">
  <h2 class="text-2xl font-bold text-blue-900 my-6 border-b pb-2">学習記録を追加する</h2>
  <%= form_with model: @log, local: true do |f| %>
    <div class="mb-6">
      <%= f.label :category_id, "カテゴリ", class: "block text-gray-700 text-sm font-semibold mb-2" %>
      <%= f.collection_select :category_id, current_user.categories, :id, :name,
            { include_blank: "未分類" },
            class: "w-2/3 bg-white px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-6">
      <%= f.label :study_date, "学習日", class: "block text-gray-700 text-sm font-semibold mb-2" %>
      <%= f.date_field :study_date, value: @log.study_date || Date.current ,class: "w-2/3 bg-white px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>
    
    <div class="mb-6">
      <%= f.label :duration, "学習時間", class: "block text-gray-700 text-sm font-semibold mb-2" %>
      <div class="flex items-center space-x-2">
        <% duration = @log.duration.to_i %> <%# @nilでも0になってくれる %>
        <%= f.number_field :hours, min: 0, value: (duration / 60),
              class: "w-1/4 bg-white px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500",
              placeholder: "時間" %>
        <span class="text-gray-600">時間</span>

        <%= f.number_field :minutes, min: 0, max: 59, value: (duration % 60),
              class: "w-1/4 bg-white px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500",
              placeholder: "分" %>
        <span class="text-gray-600">分</span>
      </div>
    </div>

    <div class="flex items-center gap-4">
      <%= f.submit "作成", class: "bg-blue-900 text-white font-semibold py-2 px-6 rounded hover:bg-blue-800 hover:cursor-pointer transition" %>
    </div>
  <% end %>
</div>
